body{
    background-color:black;
        
}

.container{
    
    background-repeat: repeat-y;
    height:auto;
    /*    max-width:60%;*/
/*    margin-left: 20%;*/
    color:white;
    padding: 1% 1% 1% 1%;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 20px;
    max-height: 100%;
    float: left;
}

.intro{
    padding: 10%;
    margin-top: 10%;
    background-color: orange;
    color:black;    
}

.container h1{
    text-align:center;
    
}
.container h2{
    text-align: center;
    color: white;
}

.nav ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    overflow: hidden;
}

.nav li {
    float: left;
}
.nav li a{
    display: block;
    padding:8px;
    color:white;
}
.container img{
    float:right;
    display: flex;
    margin-left: 10%;
    width: 30%;
    height:cover;
    margin-right:10%;

}
.container h2{
    color: orange;
    
}